In [55]:
import pandas as pd
import json

In [56]:
df1 = pd.read_json('eventlogs.json')
df1.head()

,_id,chatbot_id,uniq_id,event,properties,createdAt
0,{'$oid': '63a44c2899fbd802a6c748b9'},{'$oid': '63a294b7e20457eac7473f25'},589592,new_message,"{'chatbot_id': '63a294b7e20457eac7473f25', 'un...",1671711784792
1,{'$oid': '63a44c2899fbd802a6c748bb'},{'$oid': '63a294b7e20457eac7473f25'},589592,session_start,NaN,1671711784794
2,{'$oid': '63a44c2899fbd802a6c748bc'},{'$oid': '63a294b7e20457eac7473f25'},589592,sending_message,"{'chatbot_id': '63a294b7e20457eac7473f25', 'un...",1671711784795
3,{'$oid': '63a44c2899fbd802a6c748c3'},{'$oid': '63a294b7e20457eac7473f25'},589592,message_response,"{'chatbot_id': '63a294b7e20457eac7473f25', 'un...",1671711784835
4,{'$oid': '63a44c4699fbd802a6c748c8'},{'$oid': '63a294b7e20457eac7473f25'},589592,new_message,"{'chatbot_id': '63a294b7e20457eac7473f25', 'un...",1671711814681

In [57]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   _id         49 non-null     object
 1   chatbot_id  49 non-null     object
 2   uniq_id     49 non-null     int64
 3   event       49 non-null     object
 4   properties  40 non-null     object
 5   createdAt   49 non-null     int64
dtypes: int64(2), object(4)
memory usage: 2.4+ KB

In [64]:
dfprop = df1["properties"].apply(pd.Series)

In [65]:
dfprop.head(5)

,chatbot_id,uniq_id,message_text,0,message,flowchart,instance_id,flowchart_name,properties
0,63a294b7e20457eac7473f25,589592,Hi,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63a294b7e20457eac7473f25,589592,NaN,NaN,Start,None,NaN,NaN,NaN
3,63a294b7e20457eac7473f25,589592,NaN,NaN,NaN,None,NaN,NaN,NaN
4,63a294b7e20457eac7473f25,589592,Hi,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
dfmessage = dfprop['message'].apply(pd.Series)
dfmessage

,0,type,data
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,Start,NaN,NaN
3,NaN,NaN,NaN
4,NaN,NaN,NaN
5,"Sorry, I am still learning.",NaN,NaN
6,NaN,NaN,NaN
7,NaN,NaN,NaN
8,Thank you for your time.,NaN,NaN
9,NaN,NaN,NaN
10,NaN,NaN,NaN
11,NaN,NaN,NaN
12,NaN,reply,"{'options': {'header': {'type': 'image', 'medi..."
13,NaN,NaN,NaN
14,I am tapping out.,NaN,NaN
15,NaN,NaN,NaN
16,NaN,NaN,NaN
17,NaN,NaN,NaN
18,NaN,reply,"{'options': {'header': {'type': 'image', 'medi..."
19,NaN,NaN,NaN
20,NaN,NaN,NaN
21,NaN,list,"{'options': [], 'bodyText': 'This is some body..."
22,NaN,NaN,NaN
23,NaN,NaN,NaN
24,NaN,NaN,NaN
25,NaN,NaN,NaN
26,NaN,NaN,NaN
27,NaN,reply,"{'options': {'header': {'type': 'image', 'medi..."
28,NaN,NaN,NaN
29,NaN,NaN,NaN
30,NaN,NaN,NaN
31,NaN,NaN,NaN
32,NaN,NaN,NaN
33,NaN,reply,"{'options': {'header': {'type': 'image', 'medi..."
34,NaN,NaN,NaN
35,I am tapping out.,NaN,NaN
36,NaN,NaN,NaN
37,NaN,NaN,NaN
38,NaN,NaN,NaN
39,NaN,reply,"{'options': {'header': {'type': 'image', 'medi..."
40,NaN,NaN,NaN
41,NaN,NaN,NaN
42,NaN,list,"{'options': [], 'bodyText': 'This is some body..."
43,NaN,NaN,NaN
44,NaN,NaN,NaN
45,NaN,NaN,NaN
46,NaN,text,{'text': {'message': 'Details are <<dataCD.nam...
47,NaN,NaN,NaN
48,NaN,NaN,NaN

In [60]:
ex = df1['properties'].iloc[0]
print(ex)
type(ex)

{'chatbot_id': '63a294b7e20457eac7473f25', 'uniq_id': '589592', 'message_text': 'Hi'}

dict

In [ ]:
# df1.apply(lambda x: pd.Series(
#     json.loads(x['properties']).values(),
#     index=json.loads(x['properties']).keys()), 
#     axis=1)