In [26]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split, KFold
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer

In [27]:
df = pd.read_csv("Sample-test.csv",low_memory = False)

In [28]:
df2 = df[["Message"]]
df2.head()

                                             Message
0  An Investment that comes with a surprise! Buy ...
1  An Investment that comes with a surprise! Buy ...
2  An Investment that comes with a surprise! Buy ...
3  An Investment that comes with a surprise! Buy ...
4  An Investment that comes with a surprise! Buy ...

In [29]:
df2.iloc[0]['Message']

'An Investment that comes with a surprise! Buy your first crypto on CoinDCX! Download App: https://cutt.ly/PMxlb9r'

In [30]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [31]:
def remove_punctuation(Message):
    import string
    translator = str.maketrans('', '', string.punctuation)
    return Message.translate(translator)

In [40]:
df3 = df2['Message'].apply(remove_punctuation).reset_index()
df3.head(10)

   index                                            Message
0      0  An Investment that comes with a surprise Buy y...
1      1  An Investment that comes with a surprise Buy y...
2      2  An Investment that comes with a surprise Buy y...
3      3  An Investment that comes with a surprise Buy y...
4      4  An Investment that comes with a surprise Buy y...
5      5  An Investment that comes with a surprise Buy y...
6      6  An Investment that comes with a surprise Buy y...
7      7  An Investment that comes with a surprise Buy y...
8      8  An Investment that comes with a surprise Buy y...
9      9  An Investment that comes with a surprise Buy y...

In [45]:
#now removing stop words

In [47]:
def stopwords(Message):
    Message = [word.lower() for word in Message.split() if word.lower() not in sw]
    return " ".join(Message)

In [51]:
df4 = df3['Message'].apply(stopwords).reset_index()
df4.head(10)

   index                                            Message
0      0  investment comes surprise buy first crypto coi...
1      1  investment comes surprise buy first crypto coi...
2      2  investment comes surprise buy first crypto coi...
3      3  investment comes surprise buy first crypto coi...
4      4  investment comes surprise buy first crypto coi...
5      5  investment comes surprise buy first crypto coi...
6      6  investment comes surprise buy first crypto coi...
7      7  investment comes surprise buy first crypto coi...
8      8  investment comes surprise buy first crypto coi...
9      9  investment comes surprise buy first crypto coi...

In [52]:
df4.iloc[0]

index                                                      0
Message    investment comes surprise buy first crypto coi...
Name: 0, dtype: object

In [53]:
count_vectorizer = CountVectorizer()
count_vectorizer.fit(df4['Message'])
dictionary = count_vectorizer.vocabulary_.items()
dictionary

dict_items([('investment', 20), ('comes', 10), ('surprise', 31), ('buy', 8), ('first', 15), ('crypto', 11), ('coindcx', 9), ('download', 13), ('app', 4), ('httpscuttlypmxlb9r', 17), ('diversify', 12), ('portfolio', 27), ('btc', 7), ('eth', 14), ('invest', 19), ('get', 16), ('rs', 29), ('250', 0), ('amazon', 3), ('voucher', 34), ('httpsmtalkzcom', 18), ('new', 23), ('age', 2), ('assets', 5), ('otp', 25), ('one', 24), ('time', 32), ('password', 26), ('var', 33), ('authenticate', 6), ('login', 21), ('powered', 28), ('mtalkz', 22), ('हक', 44), ('पर', 42), ('करण', 39), ('आपक', 36), ('ओट', 37), ('पय', 41), ('अपन', 35), ('करन', 40), ('सत', 43), ('कर', 38), ('supportmtalkzcom', 30), ('919868629924', 1)])